.back-button-link {
  text-decoration: none !important;
  border: 2px solid;
  text-transform: uppercase;
  margin: 1rem auto;
  position: relative;
  display: block;
  overflow: hidden;
  padding: 5px;
}
