.greenText {
  color: green;
}

.purple-background{
  color: white;
  background-color: #4B1979; //official TCU purple
}

.grey-background{
  background-color: grey;
}

.light-purple-background{
  background-color: #552C7E;
}

.white-txt{
  color: white !important;
}

.white-text{
  color: white !important;
}

.black-txt{
  color: black !important;
}

.green-text{
  color: #23CE2B !important;
}

.orange-text{
  color: orange !important;
}

.yellow-text{
  // color: #4AC9EF !important;
  color: white !important;
}

.blue-text{
  color: #4AC9EF !important;
}

.white-link{
  color: white !important;
}
