.rightAlignedText{
  text-align: right;
  font-weight: bold;
}

.leftAlignedText{
  text-align: left;
}

.margin-10{
  margin: 10px;
}

.form{
  position: relative;
  margin-top: -10px;
}

.back-button-div-fulcrum {
  position: absolute;
  margin-top: 0px;
  margin-left: 40px;
}

.TBD-div{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  // margin-right: 20%;
}

.input:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ECE;
}
