input{
  border-radius: 7px;
}

.header{
  background-color: #4B1979;
  color: white;
  padding-top: 5px;
  padding-bottom: 5px;
}

.fulcrum-input-title{
  text-align: right;
  color: white;
  background-color: #4B1979; //official TCU purple
  border-radius: 7px;
  padding: 3px;
}

.rightAlignedText{
  text-align: right;
  font-weight: bold;
}

.leftAlignedText{
  text-align: left;
}

.margin-10{
  margin: 10px;
}

.error-div-fulcrum{
  margin-bottom: 10px;
  color: red;
}

.form{
  position: relative;
  margin-top: -10px;
}

.back-button-div-fulcrum {
  position: absolute;
  margin-top: 13px;
  margin-left: 20px;
}

.TBD-div{
  margin-left: auto;
  margin-right: auto;
  padding: 20px;
  // margin-right: 20%;
}

.input:focus {
    outline: none !important;
    border: 1px solid red;
    box-shadow: 0 0 10px #719ECE;
}

.imput-error{
  border: 1px solid red;
}

.submit-btn{
  background: #4B1979;
  color: white;
  font-weight: bold;
  border-radius: 8px;
  height: 50px;
  padding: 8px;
}

button.submit-btn:hover{
  background: white;
  border: 2px #4B1979 solid;
  color: #4B1979;
  font-weight: bold;
}
