.greenText {
  color: green;
}

.center {
  text-align: center;
}

.centeredPosition {
  margin-right: auto;
  margin-left: auto;
}

.enclosing-border-home{
  border: 1px solid;
  margin: 30px 700px 30px 30px;
  padding: 30px;
  border-radius: 15px;
}
