// $btn-width: 250px !default;
// $btn-height: 80px !default;
// $btn-full: $btn-height+$btn-width !default;
// $btn-half: $btn-full/2 !default;
// $bg-color: #eeeeee !default;

.rightAlignedText{
  text-align: right;
}

.leftAlignedText{
  text-align: left;
}

.leftAlignedText-Title{
  text-align: left;
  font-size: 20px;
}

.padding-grid{
  padding-top: 20px;
  padding-bottom: 20px;
}

.margin-10{
  margin: 10px;
}

.climate_select{
  margin-left: 465px;
  margin-right: 85px,
}

.inline {
  display: inline-block;
}

.form{
  position: relative;
  margin-top: -10px;
}

.back-button-div-tbd {
  position: absolute;;
  margin-top: 13px;
  margin-left: 20px;
}

.back-btn{
  border: 2px white solid;
  background: #4B1979;
  padding: 5px;
}

// .a-tag {
//   text-decoration: none;
//   line-height: $btn-height;
//   color: black;
// }
//
// *:before,
// *:after {
//   z-index: -1;
// }
//
// html {
//   //padding-top: 50px;
//   //font-family: 'Open Sans', Helvetica, arial, sans-serif;
//   text-align: center;
//   //background-color: $bg-color;
//
//   *,
//   *:before,
//   *:after {
//     box-sizing: border-box;
//     transition: 0.5s ease-in-out;
//   }
//
//   i,em,
//   b,strong,
//   // span {
//   //   transition: none;
//   // }
// }
//
// [class^="back-button-"] {
//   position: relative;
//   display: block;
//   overflow: hidden;
//   @include size(100%, $btn-height);
//   max-width: $btn-width;
//   margin: 1rem auto;
//   text-transform: uppercase;
//   border: 1px solid currentColor;
// }
//
// .back-button-effect {
//   $btn-color: random-color($max:200);
//   $btn-color-dark: shade($btn-color, 40%);
//   color: tint($btn-color);
//
//   &:before {
//     content: '';
//     @include absolute(0,0,0,0);
//     background-color: $btn-color-dark;
//     transform: translateX(-100%);
//   }
//
//   &:hover {
//     color: tint($btn-color, 75%);
//
//     &:before {
//       transform: translateX(0);
//     }
//   }
// }

.inline-page-title {
  display: inline-block;
  margin-left: 0px;
}

.inline-with-right-margin {
  display: inline-block;
  // border: 1px solid red;
  margin-right: 190px;
}

.inline-no-right-margin {
  display: inline-block;
  margin-right: 0px;
}

.enclosing-border{
  border: 0.5px solid;
  margin: 20px 60px 20px 100px; //top right bottom left
  // padding-top: : 20px;
  // padding-bottom: 20px;
  border-radius: 15px;
}

.select-padding{
  padding-top: 20px;
}

.radio-button-error{

}

.text-field-error{
  border-color: red;
  color: red;
}

.title-error{
  color: red;
}

.error-color-First-order{
  border: 1px solid red;
}

.error-color-Koppen{
  border: 1px solid red;
}

.black-txt{
  color: black !important;
}
.tbd-value-table{
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  width: 50%;
}
