.rightAlignedText{
  text-align: right;
}

.leftAlignedText{
  text-align: left;
}

.leftAlignedText-Title{
  text-align: left;
  font-size: 20px;
}

.padding-grid{
  padding: 10px;
  //margin-right: 0px !important;
  margin-left: 0px;
}

.margin-10{
  margin: 10px;
}

.climate_select{
  margin-left: 465px;
  margin-right: 85px,
}

.inline {
  display: inline-block;
}

.inline-with-right-margin {
  display: inline-block;
  // border: 1px solid red;
  margin-right: 190px;
}

.inline-no-right-margin {
  display: inline-block;
  margin-right: 0px;
}

.enclosing-border{
  border: 0.5px solid;
  margin: 20px 60px 20px 100px; //top right bottom left
  padding: 20px;
  border-radius: 15px;
}
