// colors.scss =======================
// Monochrome Gray Palette
$slate-light:                                #525963;
$slate:                                      #313a44;
$slate-dark:                                 #191f26;

$cloud-light:                                #d7dfe9;
$cloud:                                      #b8c4d4;
$cloud-dark:                                 #909fb3;

$snow-light:                                 #ffffff;
$snow:                                       #f9fafc;
$snow-dark:                                  #eef1f7;

// $mist-light:                                 #ffffff;
// $mist:                                       #f6f8fb;
// $mist-dark:                                  #eef1f7;

// Royal
$royal-light:                                #4c8af4;
$royal:                                      #1b4eb6;
$royal-dark:                                 #001e62;

// Sky
$sky-light:                                  #b9d9eb;
$sky:                                        #00a4e4;
$sky-dark:                                   #008ee0;

// Teal
$teal-light:                                 #00b9d1;
$teal:                                       #009ca6;
$teal-dark:                                  #005165;

// Berry
$berry-light:                                #dc2e9b;
$berry:                                      #af006e;
$berry-dark:                                 #6e1f56;

// Grape
$grape-light:                                #8875ff;
$grape:                                      #6752ee;
$grape-dark:                                 #39208f;

// Mint
$mint-light:                                 #8dc323;
$mint:                                       #509e2f;
$mint-dark:                                  #275d38;

// Pumpkin
$pumpkin-light:                              #fdb913;
$pumpkin:                                    #f89117;
$pumpkin-dark:                               #df720a;

$red-light:                                  #f87878;
$red:                                        #e03c31;
$red-dark:                                   #c41c30;

// Indicators
$error:                                      #e03c31;
$valid:                                      #509e2f;

// AIG Blue
$aig-blue-light:                             #B9D9EB;
$aig-blue:                                   #00A4E4;
$aig-blue-dark:                              #001E62;

// AIG Red
$aig-red-light:                              #ECC3B2;
$aig-red:                                    #E03C31;
$aig-red-dark:                               #C41C30;

// AIG Orange
$aig-orange-light:                           #FECB8B;
$aig-orange:                                 #E36F1E;
$aig-orange-dark:                            #A9431E;

// AIG Yellow
$aig-yellow-light:                           #F8E59A;
$aig-yellow:                                 #FDB913;
$aig-yellow-dark:                            #AD841F;

// AIG Green
$aig-green-light:                            #C2E189;
$aig-green:                                  #509E2F;
$aig-green-dark:                             #275D38;

// AIG Teal
$aig-teal-light:                             #B1E4E3;
$aig-teal:                                   #009CA6;
$aig-teal-dark:                              #004F59;

// AIG Grape
$aig-grape-light:                            #F4CDD4;
$aig-grape:                                  #AF006E;
$aig-grape-dark:                             #5E2751;


// Background Color Loops
$aig-colors:  ($aig-blue-light, aig-blue-light),
              ($aig-blue, aig-blue),
              ($aig-blue-dark, aig-blue-dark),

              ($aig-red-light, aig-red-light),
              ($aig-red, aig-red),
              ($aig-red-dark, aig-red-dark),

              ($aig-orange-light, aig-orange-light),
              ($aig-orange, aig-orange),
              ($aig-orange-dark, aig-orange-dark),

              ($aig-yellow-light, aig-yellow-light),
              ($aig-yellow, aig-yellow),
              ($aig-yellow-dark, aig-yellow-dark),

              ($aig-green-light, aig-green-light),
              ($aig-green, aig-green),
              ($aig-green-dark, aig-green-dark),

              ($aig-teal-light, aig-teal-light),
              ($aig-teal, aig-teal),
              ($aig-teal-dark, aig-teal-dark),

              ($aig-grape-light, aig-grape-light),
              ($aig-grape, aig-grape),
              ($aig-grape-dark, aig-grape-dark)

              ($aig-grape-light, aig-grape-light),
              ($aig-grape, aig-grape),
              ($aig-grape-dark, aig-grape-dark),

              ($error, error),
              ($valid, valid),

              ($slate-light, slate-light),
              ($slate, slate),
              ($slate-dark, slate-dark),

              ($cloud-light, cloud-light),
              ($cloud, cloud),
              ($cloud-dark, cloud-dark),

              ($snow-light, snow-light),
              ($snow, snow),
              ($snow-dark, snow-dark),

              ($berry-light, berry-light),
              ($berry, berry),
              ($berry-dark, berry-dark),

              ($pumpkin-light, pumpkin-light),
              ($pumpkin, pumpkin),
              ($pumpkin-dark, pumpkin-dark),

              ($sky-light, sky-light),
              ($sky, sky),
              ($sky-dark, sky-dark),

              ($royal-light, royal-light),
              ($royal, royal),
              ($royal-dark, royal-dark),

              ($teal-light, teal-light),
              ($teal, teal),
              ($teal-dark, teal-dark),

              ($mint-light, mint-light),
              ($mint, mint),
              ($mint-dark, mint-dark),

              ($grape-light, grape-light),
              ($grape, grape),
              ($grape-dark, grape-dark),

              ($sky-light, sky-light),
              ($sky, sky),
              ($sky-dark, sky-dark),

              ($red-light, red-light),
              ($red, red),
              ($red-dark, red-dark);


// BG Color Helper Classes
@each $color, $name in $aig-colors {
  .bg-#{$name} {
    background-color: $color !important;
  }
}

// Text Color Helper Classes
@each $color, $name in $aig-colors {
  .text-#{$name} {
    color: $color !important;
  }
}

// BG Gradient Helper Classes

// Sky
.bg-gradient-sky{
  background: linear-gradient($sky 0%, $sky-dark 100%);
  &.rotate{
    background: linear-gradient(-90deg, $sky 0%, $sky-dark 100%);
  }
  &.tilt{
    background: linear-gradient(150deg, $sky 0%, $sky-dark 100%);
  }
}

// Royal
.bg-gradient-royal{
  background: linear-gradient($royal 0%, $royal-dark 100%);
  &.rotate{
    background: linear-gradient(-90deg, $royal 0%, $royal-dark 100%);
  }
  &.tilt{
    background: linear-gradient(150deg, $royal 0%, $royal-dark 100%);
  }
}

// Teal
.bg-gradient-teal{
  background: linear-gradient($teal 0%, $teal-dark 100%);
  &.rotate{
    background: linear-gradient(-90deg, $teal 0%, $teal-dark 100%);
  }
  &.tilt{
    background: linear-gradient(150deg, $teal 0%, $teal-dark 100%);
  }
}

// Grape
.bg-gradient-grape{
  background: linear-gradient($grape 0%, $grape-dark 100%);
  &.rotate{
    background: linear-gradient(-90deg, $grape 0%, $grape-dark 100%);
  }
  &.tilt{
    background: linear-gradient(150deg, $grape 0%, $grape-dark 100%);
  }
}

// Slate
.bg-gradient-slate{
  background: linear-gradient($slate-light 0%, $slate 100%);
  &.rotate{
    background: linear-gradient(-90deg, $slate-light 0%, $slate 100%);
  }
  &.tilt{
    background: linear-gradient(150deg, $slate-light 0%, $slate 100%);
  }
}

// Snow
.bg-gradient-snow{
  background: linear-gradient($snow 0%, $snow-dark 100%);
  &.rotate{
    background: linear-gradient(-90deg, $snow 0%, $snow-dark 100%);
  }
  &.tilt{
    background: linear-gradient(150deg, $snow 0%, $snow-dark 100%);
  }
}
//
// // Berry
// .bg-gradient-berry{
//   background: linear-gradient($berry 0%, $berry-dark 100%);
//   &.rotate{
//     background: linear-gradient(-90deg, $berry 0%, $berry-dark 100%);
//   }
//   &.tilt{
//     background: linear-gradient(150deg, $berry 0%, $berry-dark 100%);
//   }
// }
//
// // Mint
// .bg-gradient-mint{
//   background: linear-gradient($mint 0%, $mint-dark 100%);
//   &.rotate{
//     background: linear-gradient(-90deg, $mint 0%, $mint-dark 100%);
//   }
//   &.tilt{
//     background: linear-gradient(150deg, $mint 0%, $mint-dark 100%);
//   }
// }
//
// // Berry Grape
// .bg-gradient-berry-grape{
//   background: linear-gradient($berry 0%, $grape-dark 100%);
//   &.rotate{
//     background: linear-gradient(-90deg, $berry 0%, $grape 100%);
//   }
//   &.tilt{
//     background: linear-gradient(150deg, $berry 0%, $grape 100%);
//   }
// }
//
// // Teal Grape
// .bg-gradient-teal-grape{
//   background: linear-gradient($teal 0%, $grape-dark 100%);
//   &.rotate{
//     background: linear-gradient(-90deg, $teal 0%, $grape-dark 100%);
//   }
//   &.tilt{
//     background: linear-gradient(150deg, $teal 0%, $grape-dark 100%);
//   }
// }
//
// // Sky Royal
// .bg-gradient-sky-royal{
//   background: linear-gradient($sky 0%, $royal-dark 100%);
//   &.rotate{
//     background: linear-gradient(-90deg, $sky 0%, $royal-dark 100%);
//   }
//   &.tilt{
//     background: linear-gradient(150deg, $sky 0%, $royal-dark 100%);
//   }
// }
//
// // Pumpkin Berry
// .bg-gradient-pumpkin-berry{
//   background: linear-gradient($pumpkin 0%, $berry 100%);
//   &.rotate{
//     background: linear-gradient(-90deg, $pumpkin 0%, $berry 100%);
//   }
//   &.tilt{
//     background: linear-gradient(150deg, $pumpkin 0%, $berry 100%);
//   }
// }

.blockquote, blockquote {
  border-left: none !important;
}

// Alternative BG
.bg-success {
  background-color: #dff0d8 !important;
  border: 1px solid #d0e9c6;
  color: #3c763d;
}

.bg-info {
  background-color: #d9edf7 !important;
  border: 1px solid #bcdff1;
  color: #31708f;
}

.bg-warning {
  background-color: #fcf8e3 !important;
  border: 1px solid #faf2cc;
  color: #8a6d3b;
}

.bg-danger {
  background-color: #f2dede !important;
  border: 1px solid #ebcccc;
  color: #a94442;
}


.hex-copy {
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.hex {
  &:hover {
    cursor: pointer;
  }
}

.rgb {
  &:hover {
    cursor: pointer;
  }
}
