.tgl {
  display: none; }
  .tgl, .tgl:after, .tgl:before,
  .tgl *,
  .tgl *:after,
  .tgl *:before,
  .tgl + .tgl-btn {
    box-sizing: border-box; }
    .tgl::selection, .tgl:after::selection, .tgl:before::selection,
    .tgl *::selection,
    .tgl *:after::selection,
    .tgl *:before::selection,
    .tgl + .tgl-btn::selection {
      background: none; }
  .tgl + .tgl-btn {
    outline: 0;
    display: block;
    width: 4em;
    height: 2em;
    position: relative;
    cursor: pointer;
    user-select: none; }
    .tgl + .tgl-btn:after, .tgl + .tgl-btn:before {
      position: relative;
      display: block;
      content: "";
      width: 50%;
      height: 100%; }
    .tgl + .tgl-btn:after {
      left: 0; }
    .tgl + .tgl-btn:before {
      display: none; }
  .tgl:checked + .tgl-btn:after {
    left: 50%; }

.tgl-flat + .tgl-btn {
  padding: 2px;
  transition: all .2s ease;
  background: #fff;
  border: 4px solid #f2f2f2;
  border-radius: 2em; }
  .tgl-flat + .tgl-btn:after {
    transition: all .2s ease;
    background: #f2f2f2;
    content: "";
    border-radius: 1em; }

.tgl-flat:checked + .tgl-btn {
  border: 4px solid #7FC6A6; }
  .tgl-flat:checked + .tgl-btn:after {
    left: 50%;
    background: #7FC6A6; }

.greenText {
  color: green; }

.center {
  text-align: center; }

.centeredPosition {
  margin-right: auto;
  margin-left: auto; }

.enclosing-border-separate-approach {
  border: 1px solid;
  margin: 20px 10px 10px 20px;
  padding: 30px;
  border-radius: 15px; }

.enclosing-border-helpful-links {
  border: 1px solid;
  margin: 30px 700px 30px 30px;
  padding: 30px;
  border-radius: 15px; }

.enclosing-border-intro {
  border: 1px solid;
  margin: 30px 30px 30px 30px;
  padding: 20px;
  border-radius: 15px; }

.helpLink {
  color: white !important; }

.centerText {
  text-align: center; }

.detailTaskbarCloseBut {
  position: absolute;
  top: -8px;
  right: -8px; }
  .detailTaskbarCloseBut .btn-close-task {
    background: none;
    border: 0;
    width: 5rem;
    height: 5rem;
    padding: 1.5rem;
    position: absolute;
    right: 0; }
    .detailTaskbarCloseBut .btn-close-task .x, .detailTaskbarCloseBut .btn-close-task .three {
      backface-visibility: hidden;
      transition: all 0.2s linear;
      display: block;
      position: absolute; }
    .detailTaskbarCloseBut .btn-close-task .x {
      overflow: hidden;
      width: 1.8rem;
      height: 1.8rem;
      top: 1.6rem;
      right: 1.6rem;
      margin: 0 auto;
      stroke-width: .13rem;
      z-index: 2; }
    .detailTaskbarCloseBut .btn-close-task .three {
      transition: all 0.2s 0.05s ease-out;
      border: 2px solid #ffffff;
      z-index: 1;
      background: none;
      top: 1.3rem;
      right: 1.3rem;
      width: 2.2rem;
      height: 2.2rem;
      border-radius: 50%;
      opacity: 0;
      transform: scale(0.6); }
    .detailTaskbarCloseBut .btn-close-task:hover {
      cursor: pointer; }
      .detailTaskbarCloseBut .btn-close-task:hover .x {
        top: 2rem;
        right: 2.0rem;
        width: 16px;
        height: 16px;
        stroke-width: 4px; }
      .detailTaskbarCloseBut .btn-close-task:hover .three {
        top: 1.3rem;
        opacity: .35;
        transform: scale(1); }
    .detailTaskbarCloseBut .btn-close-task:focus .one, .detailTaskbarCloseBut .btn-close-task:focus .two {
      background: #4c8af4; }
    .detailTaskbarCloseBut .btn-close-task:focus .three {
      border: 2px solid #4c8af4; }
  .detailTaskbarCloseBut .btn-back-task {
    background: none;
    border: 0;
    width: 5rem;
    height: 5rem;
    padding: 1rem 1.5rem;
    position: absolute;
    left: 0; }
    .detailTaskbarCloseBut .btn-back-task .one, .detailTaskbarCloseBut .btn-back-task .two, .detailTaskbarCloseBut .btn-back-task .three {
      transition: all .18s ease-out;
      display: block;
      position: relative;
      height: 2px;
      background: #ffffff; }
    .detailTaskbarCloseBut .btn-back-task .one, .detailTaskbarCloseBut .btn-back-task .two {
      top: .2rem;
      left: 0;
      width: 1.3rem; }
    .detailTaskbarCloseBut .btn-back-task .one {
      transform: rotate(-45deg);
      transform-origin: 8% 50% 0; }
    .detailTaskbarCloseBut .btn-back-task .two {
      transform: rotate(45deg);
      transform-origin: 8% 50% 0; }
    .detailTaskbarCloseBut .btn-back-task .three {
      left: 0;
      width: 2.1rem; }
    .detailTaskbarCloseBut .btn-back-task:hover {
      cursor: pointer; }
      .detailTaskbarCloseBut .btn-back-task:hover .one, .detailTaskbarCloseBut .btn-back-task:hover .two, .detailTaskbarCloseBut .btn-back-task:hover .three {
        left: -.75rem; }
      .detailTaskbarCloseBut .btn-back-task:hover .one, .detailTaskbarCloseBut .btn-back-task:hover .two {
        width: 1.1rem; }
      .detailTaskbarCloseBut .btn-back-task:hover .one {
        transform: rotate(-38deg);
        transform-origin: 8% 50% 0; }
      .detailTaskbarCloseBut .btn-back-task:hover .two {
        transform: rotate(38deg);
        transform-origin: 8% 50% 0; }
      .detailTaskbarCloseBut .btn-back-task:hover .three {
        transition: all .22s ease-in-out;
        width: 2.0rem; }
    .detailTaskbarCloseBut .btn-back-task:focus .one, .detailTaskbarCloseBut .btn-back-task:focus .two, .detailTaskbarCloseBut .btn-back-task:focus .three {
      background: #4c8af4; }

.rightAlignedText {
  text-align: right; }

.leftAlignedText {
  text-align: left; }

.margin-10 {
  margin: 10px; }

.rightAlignedText {
  text-align: right; }

.leftAlignedText {
  text-align: left; }

.leftAlignedText-Title {
  text-align: left;
  font-size: 20px; }

.padding-grid {
  padding: 10px;
  margin-left: 0px; }

.margin-10 {
  margin: 10px; }

.climate_select {
  margin-left: 465px;
  margin-right: 85px; }

.inline {
  display: inline-block; }

.inline-back-button {
  display: inline-block;
  margin-left: 0px; }

.inline-page-title {
  display: inline-block;
  margin-left: 0px; }

.inline-with-right-margin {
  display: inline-block;
  margin-right: 190px; }

.inline-no-right-margin {
  display: inline-block;
  margin-right: 0px; }

.enclosing-border {
  border: 0.5px solid;
  margin: 20px 60px 20px 100px;
  padding: 20px;
  border-radius: 15px; }
