body{
  font-family: 'Source Sans Pro', sans-serif !important;
}

.grid{
  margin-left: 0px !important;
  margin-right: 0px !important;
}

.enclosing-border-landing-page{
  border: 1px solid;
  margin: 30px 30px 30px 30px;
  padding: 20px;
  border-radius: 15px;
}

.main-div-top-margin{
  padding-top: 20px;
}

.rounded-border{
  border-radius: 8px;
}

.approach{
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
}

// .enclosing-border-landing-page h3.approach:hover {
//   font-size: 30px;
// }

.btn-go-div{
  position: relative;
}

.btn-go{
  position: absolute;
  right: 0px;
  top: -30px;
  background: grey;
  border-radius: 5px;
}

.btn-go-fulcrum{
  position: absolute;
  bottom: 170px;
  right: 60px;
}

.btn-go-tbd{
  position: absolute;
  bottom: 170px;
  right: 60px;
}

.btn-go-analog{
  position: absolute;
  bottom: 40px;
  right: 60px;
}

.background-img{
  border: 1px solid black;
  border-radius: 7px;
  padding: 10px;
  color: white;
  background-color: #4B1979;
  font-size: 18px;
}

.flipcard-div{
  border: 1px solid black;
  color: white;
  background-color: #4B1979;
  size: 100%;
}

.div-analog-approach{
  position: relative;
  height: 80px;
  height: 160px;
}

.div-fulcrum-approach{

}

.div-TBD-approach{
  height: 160px;
}

.div-helpful{
  padding: 10px;
  text-align: center !important;
}

.div-helpful-link{
  text-align: left;
  padding: 5px;
}

.center-text{
  text-align: center;
}
