// TextField.scss
@import './vars.scss';

.fl-input-container {
  -ms-flex-direction: column;
  -webkit-flex-direction: column;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  flex-direction: column;
  // padding: 25px;
  position: relative;
}

.fl-input-container input:not(:focus):not(.fl-valid):not(.fl-invalid) {
  color: transparent;
}

.fl-input-container input,
.fl-input-container label,
.fl-error-msg {
  -webkit-font-smoothing: antialiased;
  font-family: 'Roboto', sans-serif;
  text-shadow: none;
}

// .fl-input-container-error input {
//   -moz-appearance: none;
//   -webkit-appearance: none;
//   -webkit-tap-highlight-color: transparent;
//   border-radius: 0;
//   border-color: red !important;
//   display: -moz-flex;
//   display: -ms-flexbox;
//   display: -webkit-flex;
//   display: flex;
//   font-size: 100%;
//   // line-height: 25px;
//   line-height: 30px;
//   padding: 1.65rem 1.0rem .35rem !important;
//   transition: border-color .2s ease-in-out;
//   font-family: 'SourceSansPro-Regular', Arial, Helvetica, sans-serif;
//   -webkit-font-smoothing: auto;
//
//   &:focus {
//     //border-color: $royal-light;
//     border-color: red !important;
//
//     & + label {
//       color: $slate-dark;
//     }
//   }
// }

.fl-input-container{
  input {
    -moz-appearance: none;
    -webkit-appearance: none;
    -webkit-tap-highlight-color: transparent;
    border-radius: 0;
    display: -moz-flex;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    font-size: 100%;
    // line-height: 25px;
    line-height: 30px;
    padding: 1.65rem 1.0rem .35rem !important;
    transition: border-color .2s ease-in-out;
    font-family: 'SourceSansPro-Regular', Arial, Helvetica, sans-serif;
    -webkit-font-smoothing: auto;

    &:focus {
      //border-color: $royal-light;
      border-color: #00a4e4 !important;

      & + label {
        color: $slate-dark;
      }
    }
  }
  &.error{
    input{
      border-color: red !important;
    }
  }
}

.fl-input-label {
  -moz-transform-origin: left top;
  -moz-transform: scale(1) translate3d(0, 22px, 0);
  -moz-transition: 200ms ease all;
  -ms-flex-order: 1;
  -webkit-order: 1;
  -webkit-transform-origin: left top;
  -webkit-transform: scale(1) translate3d(0, 22px, 0);
  -webkit-transition: 200ms ease all;
  color: $cloud-dark;
  font-weight: normal;
  opacity: 0.75;
  order: 1;
  // padding-left: 2px;
  padding-left: 1.25rem;
  position: relative;
  // top: 22px;
  top: 30px;
  text-align: left;
  pointer-events: none;
  text-transform: capitalize;
  transform-origin: left top;
  transform: scale(1) translate3d(0, 22px, 0);
  transition: 200ms ease all;
}

.fl-input-container input:focus + label,
.fl-input-container input.fl-valid + label,
.fl-invalid + label {
  -moz-transform: scale(0.8) translate3d(0, 5px, 0);
  -webkit-transform: scale(0.8) translate3d(0, 5px, 0);
  // color: $slate-dark;
  opacity: 1;
  transform: scale(0.8) translate3d(0, 5px, 0);
  padding-left: 1.65rem;
  position: relative;
  // top: 30px;
  top: 38px;
  left: -4px;
}

.fl-input:active,
.fl-input:focus,
.fl-input-label {
  outline: 0;
}

.fl-input {
  -ms-flex-order: 2;
  -ms-flex: 1 1 auto;
  -webkit-flex: 1 1 auto;
  -webkit-order: 2;
  border: 0;
  border: 1px solid $cloud;
  // color: $slate-dark;
  flex: 1 1 auto;
  order: 2;
}

.fl-input-bar {
  -ms-flex-order: 3;
  -webkit-order: 3;
  display: block;
  order: 3;
  top: 0;
}

.fl-input-bar::after,
.fl-input-bar::before {
  -moz-transition: 200ms ease all;
  -webkit-transition: 200ms ease all;
  background: #3949AB;
  bottom: 0;
  content: "";
  height: 2px;
  position: absolute;
  transition: 200ms ease all;
  width: 0;
}

.fl-input-bar::before {
  left: 50%;
}

.fl-input-bar::after {
  right: 50%;
}

.fl-input:focus ~ .fl-input-bar::after,
.fl-input:focus ~ .fl-input-bar::before,
.fl-invalid ~ .fl-input-bar::after,
.fl-invalid ~ .fl-input-bar::before {
  width: 50%;
}

.fl-input-bar,
.fl-error-msg {
  position: relative;
  width: inherit;
}

.fl-error-msg {
  bottom: 0;
  display: inline-block;
  font-size: 13px;
  overflow: hidden;
  position: absolute;
  bottom: -24px;
  left: 22px;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 90%;
  word-break: break-all;
  word-wrap: break-word;
}

.fl-invalid ~ .fl-input-bar::after,
.fl-invalid ~ .fl-input-bar::before {
  background: #E74C3C;
}

.fl-input-container .fl-input.fl-invalid + label,
.fl-error-msg {
  color: #E74C3C;
}

.email-image {
  transform: translateY(5px);
}
